<!DOCTYPE html>
<html lang="Es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    
    <link href="css/home.css" rel="stylesheet" />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header>
      <a href="/"
        ><img src="/img/logo-mercado-liebre.svg" alt="logo mercado liebre"
      /></a>
      <form >
        <input type="search" placeholder="Busca productos, marcas" />
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <p class="comprar">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        Comprá en cuotas y sin tarjeta de crédito
      </p>

      <nav>
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#"> Tiendas Oficiales</a></li>
          <li><a href="#"> Vender</a></li>
          <li><a href="#"> Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="/register">
              Creá tu cuenta<i class="fa-sharp fa-solid fa-address-card"></i
            ></a>
          </li>
          <li>
            <a href="/login">
              Ingresá<i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a href="#">
              Mis Compras<i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <img class="banner" src="/img/img-home-banner.jpg" alt="banner" />
    <main>
      <section>
        <h4>Basados en tu ultima compra:</h4>
        <article>
          <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera-moulinex" />
          <div class="caja">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            <h2>cafetera Moulinex</h2>
          </div>
        </article>
        <article>
          <img src="/img/img-macbook-pro-2019.jpg" alt=" Mackbook" />
          <div class="caja">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
            <h2>Macbook Pro 2019</h2>
          </div>
        </article>
        <article>
          <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" />
          <div class="caja">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$70.500</p>
            <p class="descuento">10% OFF</p>
            <h2>Samsumg Galaxy S10</h2>
          </div>
        </article>
        <article>
          <img src="/img/img-tv-samsung-smart.jpg" alt="Tv Samsung Smart" />
          <div class="caja">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$23.200</p>
            <p class="descuento">5% OFF</p>
            <h2>SmarTv Samsung 43"</h2>
          </div>
        </article>
      </section>
      <section class="ofertas">
        <h4>Ofertas:</h4>
        <article>
          <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera-moulinex" />
          <div class="caja">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            <h2>cafetera Moulinex</h2>
          </div>
        </article>
        <article>
          <img src="/img/img-macbook-pro-2019.jpg" alt=" Mackbook" />
          <div class="caja">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
            <h2>Macbook Pro 2019</h2>
          </div>
        </article>
        <article>
          <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" />
          <div class="caja">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$70.500</p>
            <p class="descuento">10% OFF</p>
            <h2>Samsumg Galaxy S10</h2>
          </div>
        </article>
        <article>
          <img src="/img/img-tv-samsung-smart.jpg" alt="Tv Samsung Smart" />
          <div class="caja">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$23.200</p>
            <p class="descuento">5% OFF</p>
            <h2>SmarTv Samsung 43"</h2>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <article>
        <i class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </article>
      <article>
        <i class="fa-solid fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </article>
      <article>
        <i class="fa-solid fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </article>
      <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
  </body>
</html>
