<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
  
    
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Ingresa</title>
</head>
<body>
    <header>
        <a href="/"
          ><img src="/img/logo-mercado-liebre.svg" alt="logo mercado liebre"
        /></a>
        <form>
          <input type="search" placeholder="Busca productos, marcas" />
          <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <p class="comprar">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </p>
  
        <nav>
          <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#"> Tiendas Oficiales</a></li>
            <li><a href="#"> Vender</a></li>
            <li><a href="#"> Ayuda</a></li>
          </ul>
          <ul>
            <li>
              <a href="/register">
                Creá tu cuenta<i class="fa-sharp fa-solid fa-address-card"></i
              ></a>
            </li>
            <li>
              <a href="/login">
                Ingresá<i class="fa-solid fa-right-to-bracket"></i
              ></a>
            </li>
            <li>
              <a href="#">
                Mis Compras<i class="fa-solid fa-basket-shopping"></i
              ></a>
            </li>
          </ul>
        </nav>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </header>
      <main>
        <form action="/" method="get">
          <div> 
            <label for="user">Ingresa tu usuario</label>
            <span>*error</span>
            <input type="text" id="user">
          </div>
          <div> 
            <label for="password">Ingresa tu contraseña</label>
            <span>*error</span>
            <input type="password" id="user">
          </div>
          <button type="submit">Enviar</button>
        </form>
      </main>
    <footer>
        <article>
          <i class="fa-solid fa-credit-card"></i>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>
        <article>
          <i class="fa-solid fa-gift"></i>
          <h4>Envío gratis desde $ 2.500</h4>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>
        <article>
          <i class="fa-solid fa-user-shield"></i>
          <h4>Seguridad, de principio a fin</h4>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
            hacer, porque estás siempre protegid@.
          </p>
        </article>
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
      </footer>
</body>
</html>